<%= form_for(@followship) do |f| %>
  <% if @followship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followship.errors.count, "error") %> prohibited this followship from being saved:</h2>

      <ul>
      <% @followship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :following_id %><br>
    <%  @friendship_opportunities = []
        friends = []
        blockers = []
        blockeds = []
        for followship in current_user.followingships
          friends.append(followship.following)
        end
        for blockship in current_user.blockerships
          blockers.append(blockship.blocker)
        end
        for blockship in current_user.blockedships
          blockeds.append(blockship.blocked)
        end
        for user in User.all
          if not(friends.include?(user) or blockeds.include?(user) or blockers.include?(user) or user == current_user)
            @friendship_opportunities.append(user)
          end
        end
    %>
    <%= f.select :following_id, options_for_select(@friendship_opportunities.map{|user| ["#{user.email}", user.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
