

<h1>Listing <%=params[:username]%>'s Tweets</h1>

<div>you are <%=@return_value[:is_valid]%> to see <%=params[:username]%>'s tweets.</div>
<table>
  <thead>
  <tr>
    <th>Text</th>
    <th>Date Created</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @return_value[:tweets].each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'My Tweets', tweets_path %>