<%= form_for(@blockship) do |f| %>
  <% if @blockship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blockship.errors.count, "error") %> prohibited this blockship from being saved:</h2>

      <ul>
      <% @blockship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blocked_id %><br>
    <%  @blockship_opportunities = []
        blockeds = []
        for blockship in current_user.blockedships
          blockeds.append(blockship.blocked)
        end
        for user in User.all
          if not(blockeds.include?(user) or user == current_user)
            @blockship_opportunities.append(user)
          end
        end
    %>
    <%= f.select :blocked_id, options_for_select(@blockship_opportunities.select{|user| user.id != current_user.id}.map{|user| ["#{user.email}", user.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
