<p id="notice"><%= notice %></p>

<p>
  <strong>Blocker:</strong>
  <%= @blockship.blocker.email %>
</p>

<p>
  <strong>Blocked:</strong>
  <%= @blockship.blocked.email %>
</p>

<%= link_to 'Edit', edit_blockship_path(@blockship) %> |
<%= link_to 'Back', blockships_path %>
